API_KEY=
JWT_SECRET=
JWT_REFRESH_SECRET=
# URL Koneksi Database PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?connection_limit=50"

# Secret untuk JWT
JWT_SECRET="your-super-secret-key"

# Kunci API (jika digunakan)
API_KEY="your-api-key"
GEMINI_API_KEY=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
ADMIN_EMAIL=
ADMIN_PASSWORD=